h1 {
  padding: 1rem;
}

h4 {
  font-weight: normal;
}

#scorecard {
  font-size: 1.5rem;
  font-style: normal;
  font-weight: 100;
}

.hover {
  cursor: pointer;
}

#letter-1,
#letter-2 {
  font-size: 8rem;
}

.btn.active.focus,
.btn.active:focus,
.btn.focus,
.btn:active.focus,
.btn:active:focus,
.btn:focus {
  outline: 0 !important;
  box-shadow: none;
}

body {
  font-family: 'Open Sans', sans-serif;
}

.red {
  color: red;
}

.font1 {
  font-family: 'Hind Guntur', sans-serif;
}

.font2 {
  font-family: 'Gurajada', serif;
}

.font3 {
  font-family: 'NTR', sans-serif;
}

.font4 {
  font-family: 'Peddana', serif;
}

.font5 {
  font-family: 'Lakki Reddy', cursive;
}

.font6 {
  font-family: 'Suranna', serif;
}

.font7 {
  font-family: 'Chathura', sans-serif;
}
