h1 {
  padding: 1rem;
}

h4 {
  font-weight: normal;
}

#scorecard {
  font-size: 1.5rem;
  font-style: normal;
  font-weight: 100;
}

.hover {
  cursor: pointer;
}

.hover-bad {
  cursor: not-allowed;
}

#letter-1,
#letter-2 {
  font-size: 5rem;
}

.btn.active.focus,
.btn.active:focus,
.btn.focus,
.btn:active.focus,
.btn:active:focus,
.btn:focus {
  outline: 0 !important;
  box-shadow: none;
}
.red {
  color: red;
}

@font-face {
  font-family: 'Ramabhadra';
  src: url('../fonts/Ramabhadra/Ramabhadra-Regular.ttf');
}

@font-face {
  font-family: 'NTR';
  src: url('../fonts/NTR/NTR-Regular.ttf');
}

@font-face {
  font-family: 'Gurajada';
  src: url('../fonts/Gurajada/Gurajada-Regular.ttf');
}

@font-face {
  font-family: 'Lakki Reddy';
  src: url('../fonts/Lakki_Reddy/LakkiReddy-Regular.ttf');
}

@font-face {
  font-family: 'Mallanna';
  src: url('../fonts/Mallanna/Mallanna-Regular.ttf');
}

.font1 {
  font-family: 'Ramabhadra', sans-serif;
}
.font2 {
  font-family: 'Gurajada', serif;
}
.font3 {
  font-family: 'Mallanna', sans-serif;
}
.font4 {
  font-family: 'NTR', sans-serif;
}
.font5 {
  font-family: 'Lakki Reddy', cursive;
}
